*{
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	min-height: 0;
	font-size: 98%;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
	background:transparent;
	border-radius: 1px;
	color: whitesmoke;
}

window#waybar.hidden {
	opacity: 0.5;
}

window#waybar.empty
window#waybar.empty #window {
   padding: 0px;
   border: 0px;
   background-color: transparent;
}

#taskbar button,
#workspaces button {
	color: #6E6A86;
   	box-shadow: none;
	text-shadow: none;
   	padding: 0px;
   	border-radius: 9px;
   	padding-left: 4px;
   	padding-right: 4px;
   	animation: gradient_f 20s ease-in infinite;
   	transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
	color: whitesmoke;
   	border-radius: 15px 15px 15px 15px;
   	padding-left: 8px;
   	padding-right: 8px;
   	animation: gradient_f 20s ease-in infinite;
   	transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.focused {
	color: #d8dee9;
}

#workspaces button.urgent {
	color: #11111b;
	border-radius: 10px;
}

#workspaces button:hover {
	color: whitesmoke;
    border-radius: 15px;
 	padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#memory,
#mode,
#power-profiles-daemon,
#pulseaudio,
#temperature,
#tray,
#window,
#workspaces,


#padding {
	padding-top: 6px;
	padding-bottom: 4px;
	padding-right: 10px;
	padding-left: 10px;
}

#temperature.critical {
	background-color: #ff0000;
}

@keyframes blink {
	to {
	color: #000000;
	   }
}

/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
	color: #39FF14;
}
